* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background: #503620; 
  color: #f5e9d6;      
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background: #A9746E; 
  color: #3b2f2f;
}

.logo {
  font-size: 24px;
  font-weight: bold;
  cursor: pointer;
}

.logo span {
  color: #FFFFFF;
}
.nav {
  display: flex;
  gap: 20px;
}

.nav a {
  color: #f7e7cf;
  text-decoration: none;
  font-weight: 500;
  cursor: pointer;
  transition: 0.3s;
}

.nav a:hover {
  color: #7A4B2F;
  transform: scale(1.05);
}

.active {
  border-bottom: 2px solid #d1b38a;
}
.nav-toggle {
  font-size: 26px;
  background: none;
  border: none;
  color: #f7e7cf;
  cursor: pointer;
  display: none;
}
.hero {
  background: url("https://images.unsplash.com/photo-1481839699184-ffac7f3d0e2f")
    center/cover no-repeat;
  text-align: center;
  padding: 120px 20px;
  color: #fff;
  background-blend-mode: multiply;
  background-color: rgba(43, 33, 33, 0.6);
}

.hero h1 {
  font-size: 56px;
  margin-bottom: 15px;
}

.hero p {
  font-size: 18px;
}
.map-section {
  text-align: center;
  padding: 40px 20px;
}

.map-section h2 {
  color: #f5e9d6;
}

.map-section iframe {
  width: 90%;
  height: 350px;
  border: none;
  border-radius: 10px;
}
.contact-section {
  padding: 60px 20px;
}

.contact-container {
  max-width: 1100px;
  margin: auto;
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
}

.contact-info,
.contact-form {
  flex: 1;
  min-width: 300px;
  background-color: fff8e7;
}

.contact-info h2,
.contact-form h2 {
  margin-bottom: 20px;
  color: #e6d4bd;
}
.info-box {
    background: #fff8e7;
    padding: 15px;
    border-left: 5px solid #79532d;
    margin-bottom: 15px;
}
.info-box h3 {
  margin-bottom: 5px;
  color: #4b3621; 
}
.info-box p{
  color: #4b3621;

}
.contact-form label {
  display: block;
  margin: 10px 0 5px;
}

.contact-form input,
.contact-form textarea {
  width: 100%;
  padding: 12px;
  border-radius: 6px;
  border: 1px solid #8f7b6a;
  background: #4a3b3b;
  color: #f5e9d6;
}

.contact-form input::placeholder,
.contact-form textarea::placeholder {
  color: #d8c9b6;
}
.btn {
  background: #e07b39;
  color: #fff8e7;
  padding: 12px 20px;
  border: none;
  width: 100%;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
  border-radius: 6px;
}

.btn:hover {
  background: #c96f3d;
  transform: translateY(-2px);
}
.footer {
  background: #3b2f2f;
  color: #f5e9d6;
  text-align: center;
  padding: 15px;
  margin-top: 40px;
}
.whatsapp-float {
  position: fixed;
  right: 20px;
  bottom: 20px;
  background: #25d366;
  padding: 12px 15px;
  border-radius: 50%;
  text-decoration: none;
  font-size: 24px;
  color: white;
}
@media (max-width: 768px) {
  .nav {
    display: none;
    flex-direction: column;
    background: #2a1f1f;
    position: absolute;
    top: 70px;
    right: 0;
    padding: 20px;
    width: 200px;
    border-radius: 0 0 0 10px;
  }

  .nav.active {
    display: flex;
  }

  .nav-toggle {
    display: block;
  }

  .hero h1 {
    font-size: 40px;
  }
  
}
