*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "poppins", sans-serif;
}
.body {

    margin: 0;
    font-family: Arial, sans-serif;
    background: #f3f3f3;
    display: flex;
    justify-content: center;
    padding: 40px;
}
.container {
    background: #503620;
    width: 90%;
    max-width: 1200px;
    border-radius: 20px;
    padding: 40px 50px;
    border: 2px solid #5a0f0f;
}
    

nav{
    display: flex;
    justify-content: flex-end;
    gap: 40px;
    margin-bottom: 40px;
}
nav a {
    text-decoration: none;
    color: #c77b09;
    font-weight: 500;

}
.hero{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.left{
    width: 50%;
}
.left h1{
    font-size: 48px;
    font-weight: 700;
    color: #c77b09;
    margin-bottom: 10px;
}
.left h3{
    font-weight: 600;
    margin-bottom: 20px;
}
.left p {`
    width: 80%;
    line-height: 1.6;
    margin-bottom: 30px;
    color: #1b0e04;
  
}

.menu {
    display: flex;
    gap: 20px;
}

.menu div {
    text-align: center;
    width: 120px;
}

.menu img {
    width: 100px;
    height: 100px;
    margin-bottom: 10px;
    border-radius: 20%;
}

 .right img{
    border-radius: 60%;
    width: 300px;
    height: 300px;
    margin-bottom: 10px;
}
               

.card-section {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    padding: 10px;
    flex-wrap: wrap;
}

.flip-card {
    width: 100%;
    height: 380px;
    perspective: 1000px;
}


.flip-card-inner {
    width: 100%;
    height: 100%;
    position: relative;
    transform-style: preserve-3d;
    transition: transform 0.6s;
}


.flip-card.flip .flip-card-inner {
    transform: rotateY(180deg);
}


.flip-card-front,
.flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    background: white;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0 4px 10px rgba(0,0,0,0.2);
    text-align: center;
    padding-bottom: 20px;
}

.flip-card-front img {
    width: 100%;
    height: 350px;
    object-fit: cover;
}

.flip-card-front h3 {
    margin: 10px 0;
    font-size: 1.1rem;
}

.flip-card-back {
    transform: rotateY(180deg);
    padding: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

